In [1]:
import pandas as pd
import os
# Files to load
school_data_to_load = os.path.join("Resources", "schools_complete.csv")
student_data_to_load = os.path.join("Resources", "students_complete.csv")

In [2]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

                                                                                clean_students_complete
NaN     Student ID student_name    gender grade school_name       reading_score              math_score
0.0     0          Paul Bradley    M      9th   Huang High School 66                                 79
1.0     1          Victor Smith    M      12th  Huang High School 94                                 61
2.0     2          Kevin Rodriguez M      12th  Huang High School 90                                 60
3.0     3          Richard Scott   M      12th  Huang High School 67                                 58

In [3]:
# Read the school data file and store it in a Pandas DataFrame.
school_data_df = pd.read_csv(school_data_to_load)
school_data_df

                                              schools_complete (4)
School ID school_name           type     size               budget
0         Huang High School     District 2917              1910635
1         Figueroa High School  District 2949              1884411
2         Shelton High School   Charter  1761              1056600
3         Hernandez High School District 4635              3022020
4         Griffin High School   Charter  1468               917500
5         Wilson High School    Charter  2283              1319574
6         Cabrera High School   Charter  1858              1081356
7         Bailey High School    District 4976              3124928
8         Holden High School    Charter  427                248087
9         Pena High School      Charter  962                585858
10        Wright High School    Charter  1800              1049400
11        Rodriguez High School District 3999              2547363
12        Johnson High School   District 4761              3094650
13        Ford High School      District 2739              1763916
14        Thomas High School    Charter  1635              1043130

In [7]:
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

KeyError: 'school_name'